@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import 'reset';

.home-brif-item-text{
  font-size: 16px;
  text-align: justify;
  color: black;
  text-indent: 30px;
}
.form-text-p{
  font-size: 16px;
  text-align: justify;
  color: black;
  text-indent: 30px;
  margin: 15px;
}
.form-title{
  color: #2196f3;
  font-size: 25px;
  font-weight: 500;
}
.theme--dark{ 
  background-color: #e91e63 !important;
  height: 60px !important;
  font-size: 28px !important;
}
.my-h2{
  color: #2196f3;
  font-size: 25px;
  margin-bottom: 25px;
}
.my-h2-send{
  color: #e91e63;
  font-size: 25px;
  margin-bottom: 25px;
}
.my-h2-go-home{
  color: #e91e63;
  font-size: 25px;
  margin-bottom: 25px;
}
.my-h2-go-home a{
  text-decoration: none;
}
.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
  margin-bottom: 4px !important;
}
.container{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.home-brif textarea{
  height: 70px;
}
.home-brif .v-card__text{
      padding: 5px !important;
}
